<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LOCALHOST_test" value="mongodb://localhost/TestMongoMembershipProvider"/>
    <add key="MONGOLAB_URI" value="mongodb://localhost/MongoLab"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="MongoMembershipProvider">
      <providers>
        <clear/>
        <add name="MongoMembershipProvider" type="MongoMembership.Providers.MongoMembershipProvider, MongoMembership" connectionStringKeys="LOCALHOST_test" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="MongoMembershipProviderTest"/>
      </providers>
    </membership>
    <roleManager defaultProvider="MongoRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="MongoRoleProvider" type="MongoMembership.Providers.MongoRoleProvider, MongoMembership" connectionStringKeys="LOCALHOST_test" applicationName="MongoMembershipProviderTest"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
